
<%= link_to 'Voltar', :back, class: "btn btn-outline-secondary" %>
<div class="d-flex justify-content-center p-2">
<div class=" bg-light p-5 shadow", style="width:700px;">
<%= render 'form', quest: @quest %>
</div></div>

