  <div class=”container”>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">GetXp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>    
      </div>      
    </nav>
<<<<<<< HEAD
    <div>
=======

    <div class=”container”>
>>>>>>> 30ea99982d6a67a5c994cdd58eed4a50c44dcb2a
      <p>Nossa missão é conectar profissionais com pouca ou nenhuma experiência a empresas dispostas a dar primeiras oportunidades.</p>
    </div>
  </div>

