<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><%=@title%></a>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign In</a>
        </li>
       
      </ul>
</nav> 
<div class="jumbotron">
  <h1 class="display-3"><%=@title%></h1>
  <p class="lead"><%=@jumbotron%></p>
  <hr class="my-2">
  <p><%= @tagline %></p>
  <p class="lead">
  <p class="lead">
    <a class="btn btn-dark" href="#!" role="button">Sign Up</a>
  </p>  
</div>   
 

