// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container { 
    width: 350px; 
    margin: 100px auto; 
    padding: 20px; 
    background: black; 
    background-color: rgba(0,0,0,0.6); 
    text-align: center; 
    border-radius: 40px;
}